DATABASE_URL=postgresql://postgres:<ASK_MEMBER_1_FOR_PASSWORD>@db.pfsoopfdkztnjwpppsgc.supabase.co:5432/postgres
SECRET_KEY=supersecretkeythatshouldbechangedinproduction
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
