DATABASE_URL=postgresql://postgres:NYm4VusZZHbwISgy@db.pfsoopfdkztnjwpppsgc.supabase.co:5432/postgres
SECRET_KEY=supersecretkeythatshouldbechangedinproduction
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
